doctype html
html(lang='en')
 head
    title API ELUECQUE Anthony
    style
          include ./stylesheets/style.css
 body
  nav 
    ul.navigation
      li 
        a(href="") Accueil 
      li 
        a(href="") Ajouter un Utilisateur
      li 
        a(href="") Ajouter une watchlist
  div.container 
    h1 Bienvenue sur mon API ! 
